<div class="w3-container w3-light-grey" style="padding:80px 16px">
    <div class="w3-row-padding">
        <div class="w3-col m6 w3-center">
            <h1>REGISTER</h1>
        </div>
        <div class="w3-col m6">
            <p class="w3-wide">First Name</p>
            <div class="w3-grey">
                <input class="w3-input w3-border w3-padding-20" type="text" 
                [formControl] = "firstName" [(ngModel)] = "userDetails.firstName" placeholder="first name" name="firstName">
                <div *ngIf="firstName.touched && !firstName.valid">Invalid First Name</div>
            </div>
            <p class="w3-wide">Last Name</p>
            <div class="w3-grey">
                <input class="w3-input w3-border w3-padding-20" type="text" 
                [formControl] = "lastName" [(ngModel)] = "userDetails.lastName" placeholder="last name" name="lastName">
                <div *ngIf="lastName.touched && !lastName.valid">Invalid Last Name</div>
            </div>
            <p class="w3-wide">Email</p>
            <div class="w3-grey">
                <input class="w3-input w3-border w3-padding-20" type="text" 
                [formControl] = "email" [(ngModel)] = "userDetails.email" placeholder="email" name="email">
                <div *ngIf="email.touched && !email.valid">Invalid Email</div>
            </div>
            <p class="w3-wide">Username</p>
            <div class="w3-grey">
                <input class="w3-input w3-border w3-padding-20" type="text" 
                [formControl] = "username" [(ngModel)] = "userDetails.username" placeholder="username" name="username">
                <div *ngIf="username.touched && !username.valid">Invalid Username</div>
            </div>
            <p class="w3-wide">Password</p>
            <div class="w3-grey">
                <input class="w3-input w3-border w3-padding-20" type="password" 
                [formControl] = "password" [(ngModel)] = "userDetails.password" placeholder="password" name="password">
                <div *ngIf="password.touched && !password.valid">Invalid Password</div>
            </div>
            <p>
                <button (click)="register()" class="w3-button w3-black" type="submit">
                    REGISTER
                </button>
            </p>
        </div>
    </div>
</div>